.parallaxParent {
	height: 50vh;
	overflow: hidden;

}
.parallaxParent > * {
	height:100%;
	position: relative;
	background-attachment:fixed;
	top: 10%;

}

#face{
  	border-radius: 25px;
	max-width: 300px;
	position: relative;
	float:left; 
  	vertical-align: top;
	margin-top: 40px;
}
.parallaxParent2 {
	height: 50vh;
	overflow: hidden;
	padding-top: 10px;

}
.parallaxParent2 > * {
	
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}
/*
.column{
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    padding:0 10px;
}
*/
	
.insidePar{
	display: inline-block;
	color: white;
	outline: black;
	margin: auto;

	width: 40%;
	height: 57%;
	opacity: 0.9;
	margin-top: 20px;
	background-color: grey;
	border-radius: 25px;
	padding-top: 10px;
}

body{
	background-color: white;
	text-align: center;
}

.navbar{
	margin-bottom: 0px;
}
