.parallaxParent {
	height: 50vh;
	overflow: hidden;

}
.parallaxParent > * {
	height: 100%;
	position: relative;
	background-attachment:fixed;
	top:10%;
}


.parallaxParent2 {
	height: 50vh;
	overflow: hidden;
	padding-top: 10px;

}
.parallaxParent2 > * {
	height: 200%;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;	
}

	
.insidePar{

	color: white;
	outline: black;
	margin: auto;
	width: 500px;
	height: 100%;
	opacity: 0.9;
	background-color: grey;
	padding-top: 10px;
}

body{
	background-color: white;
	text-align: center;
}

.navbar{
	margin-bottom: 0px;
}
